* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Variables de colores */
    --principal-color: #ffffff;
    --secondary-color: gold;
    --tertiary-color : #000;
    --fourth-color   : #0f0c29;
    --fifth-color    : #302b63;
    --sixth-color    : #24243e;

    /* Variables de tamaño de fuente */
    --font-normal: 1.5rem;
    --font-medium: 2.5rem;
    --font-large: 3.5rem;
}

body {
    background: var(--fourth-color);  
    background: -webkit-linear-gradient(to right, var(--sixth-color), var(--fifth-color), var(--fourth-color));  
    background: linear-gradient(to right, var(--sixth-color), var(--fifth-color), var(--fourth-color));
    color: var(--principal-color);
    text-align: center;
    list-style: none;
    text-decoration: none;
}

h2 {
    padding: 1rem;
}



