.header{
    padding: 1rem;
    text-align: center;
    font-size: var(--font-normal);
    background-image: url("../assets/images/fondoEscritorio.webp");
    background-repeat: no-repeat;
    background-size: cover;
    
    color: var(--principal-color);
}


/*Main */

.main{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 120vh;
}

/*Seccion de productos*/
.contenedor__productos{
    height: 100%;
}

.contenedor__productos h2{
    padding: 1rem;
}

.contenedor__productos__card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}


.productos__card{
    color: var(--principal-color);
    background: #373B44;  
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  
    background: linear-gradient(to right, #4286f4, #373B44); 
    border: 1px solid black;
}

.productos__card--imagen{
    width: 15rem;
    height: 20rem;
    padding: 1rem;
    object-fit: cover;
}

.productos__card--precio{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.productos__card--body h4{
    padding: 0.5rem;
}


/*Seccion agregar productos */


.contenedor__formulario{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 1rem;
}


.contenedor__formulario--lista input, .contenedor__formulario__botones button{
    padding: 0.7rem;
    border-radius: 0.7rem;
    border: 2px solid black;
}

@media (min-width: 876px){
    .header{
       font-size: var(--font-medium);      
    }
}